.layout-container-pro {
  height: 100vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 15px;
}

.header-left {
  display: flex;
  align-items: center;
}

.collapse-btn {
  font-size: 22px;
  cursor: pointer;
  margin-right: 15px;
  color: #303133;
}

.avatar-dropdown {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatar-dropdown .el-icon--right {
  margin-left: 8px;
}

.main-container {
  position: relative;
  overflow: hidden;
  transition: padding 0.28s;
}

.main-container.no-padding {
  padding: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-from {
  transform: translateX(-20px);
}

.fade-leave-to {
  transform: translateX(20px);
}


.sidebar-container {
  background-color: #2d3a4b;
  transition: width 0.28s;
  border-right: none;
}

.logo-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 10px;
  overflow: hidden;
}

.logo-icon {
  color: #409EFF;
  flex-shrink: 0;
}

.logo-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 0 12px;
  white-space: nowrap;

  transition: opacity 0.2s ease-out, margin-left 0.28s ease-out;
}

.el-menu-vertical-pro {
  border-right: none;
}

.el-menu--collapse {

  & .logo-title {
    opacity: 0;
    margin-left: 0;
  }

  & :deep(.el-sub-menu__title span),
  & :deep(.el-sub-menu__icon-arrow) {
    opacity: 0;
    width: 0;
  }
}

:deep(.el-menu-item),
:deep(.el-sub-menu__title) {
  height: 56px;
  line-height: 56px;
}

:deep(.el-menu-item) {
  &:hover:not(.is-active) {
    background-color: #263445 !important;
  }

  &.is-active {
    background-color: var(--el-color-primary) !important;
    color: #fff !important;
  }
}

:deep(.el-sub-menu .el-menu-item) {
  height: 50px;
  line-height: 50px;
  background-color: #1f2d3d !important;

  &:hover {
    background-color: #001528 !important;
  }

  &.is-active {
    background-color: var(--el-color-primary) !important;
  }
}